In [2]:
import numpy as np
import pandas as pd

In [3]:
file_path="data/대구,인천,광주,대전,울산 상권정보.xlsx"
df = pd.read_excel(file_path)

In [4]:
coffee=df.copy()

In [5]:
df=df[['상호명', '상권업종소분류명', '시도명', '시군구명', '행정동명', '경도', '위도','지번주소']]
df.head()

,상호명,상권업종소분류명,시도명,시군구명,행정동명,경도,위도,지번주소
0,대구통닭,후라이드/양념치킨,대구광역시,달서구,상인1동,128.546040,35.817554,대구광역시 달서구 상인동 1531-12
1,빵마루,제과점,대구광역시,수성구,지산1동,128.628821,35.830867,대구광역시 수성구 지산동 761-8
2,오구피자,피자전문,인천광역시,남구,주안7동,126.678585,37.445680,인천광역시 남구 주안동 1311-35
3,명진가마솥오곡밥,보리밥전문,광주광역시,광산구,첨단1동,126.842826,35.220843,광주광역시 광산구 쌍암동 663-10
4,이오쇠고기국밥,해장국/감자탕,대구광역시,중구,대봉1동,128.606083,35.862251,대구광역시 중구 대봉동 12-9

In [6]:
df=df[df['시도명']=='대구광역시']
df.head()

,상호명,상권업종소분류명,시도명,시군구명,행정동명,경도,위도,지번주소
0,대구통닭,후라이드/양념치킨,대구광역시,달서구,상인1동,128.546040,35.817554,대구광역시 달서구 상인동 1531-12
1,빵마루,제과점,대구광역시,수성구,지산1동,128.628821,35.830867,대구광역시 수성구 지산동 761-8
4,이오쇠고기국밥,해장국/감자탕,대구광역시,중구,대봉1동,128.606083,35.862251,대구광역시 중구 대봉동 12-9
11,미화,복전문,대구광역시,중구,동인동,128.606981,35.866834,대구광역시 중구 동인동4가 248-20
12,충무회,횟집,대구광역시,수성구,두산동,128.617649,35.831691,대구광역시 수성구 두산동 154-26

In [7]:
df=df[df['상권업종소분류명']=='커피전문점/카페/다방']
df.head()

,상호명,상권업종소분류명,시도명,시군구명,행정동명,경도,위도,지번주소
116,브라운,커피전문점/카페/다방,대구광역시,수성구,고산2동,128.699230,35.835111,대구광역시 수성구 노변동 353
627,카페신라,커피전문점/카페/다방,대구광역시,중구,성내1동,128.596926,35.872581,대구광역시 중구 동문동 20-4
705,미도,커피전문점/카페/다방,대구광역시,중구,성내2동,128.592485,35.868132,대구광역시 중구 종로2가 66-1
1006,썸,커피전문점/카페/다방,대구광역시,북구,읍내동,128.554131,35.949804,대구광역시 북구 읍내동 1236-47
1018,까치찻집,커피전문점/카페/다방,대구광역시,수성구,지산1동,128.636445,35.823590,대구광역시 수성구 지산동 1277-19

In [8]:
all_names = pd.Series(df.상호명.unique())
all_names

0            브라운
1           카페신라
2             미도
3              썸
4           까치찻집
          ...
3275       티제이커피
3276        꼬모맨션
3277      미메이트커피
3278         커맥스
3279    마커스커피컴퍼니
Length: 3280, dtype: object

In [9]:
coffe_like = all_names[all_names.str.contains('이디야|스타벅스|이디아')]
coffe_like[0:5]

76       이디아커피시지점
113    스타벅스동성로중앙점
121     스타벅스대구법원점
124          스타벅스
363         이디야커피
dtype: object

In [10]:
df=df[df['상호명'].isin(coffe_like)]
df.head()

,상호명,상권업종소분류명,시도명,시군구명,행정동명,경도,위도,지번주소
16270,이디아커피시지점,커피전문점/카페/다방,대구광역시,수성구,고산1동,128.704075,35.839788,대구광역시 수성구 신매동 566-3
30554,스타벅스동성로중앙점,커피전문점/카페/다방,대구광역시,중구,삼덕동,128.596677,35.867508,대구광역시 중구 삼덕동1가 17-11
31198,스타벅스대구법원점,커피전문점/카페/다방,대구광역시,수성구,범어2동,128.627770,35.864537,대구광역시 수성구 범어동 2237
31464,스타벅스,커피전문점/카페/다방,대구광역시,달서구,상인1동,128.533791,35.822791,대구광역시 달서구 상인동 54-3
41627,스타벅스,커피전문점/카페/다방,대구광역시,달서구,용산2동,128.520117,35.850711,대구광역시 달서구 용산동 410-9

In [11]:
df2=df.drop(['상권업종소분류명','시도명'],axis=1)
df2.head()

              상호명 시군구명  행정동명          경도         위도                  지번주소
16270    이디아커피시지점  수성구  고산1동  128.704075  35.839788   대구광역시 수성구 신매동 566-3
30554  스타벅스동성로중앙점   중구   삼덕동  128.596677  35.867508  대구광역시 중구 삼덕동1가 17-11
31198   스타벅스대구법원점  수성구  범어2동  128.627770  35.864537    대구광역시 수성구 범어동 2237
31464        스타벅스  달서구  상인1동  128.533791  35.822791    대구광역시 달서구 상인동 54-3
41627        스타벅스  달서구  용산2동  128.520117  35.850711   대구광역시 달서구 용산동 410-9

In [12]:
cfname=pd.Series(df2.상호명.unique())
cfstar = cfname[cfname.str.contains('스타벅스')]
cfstar[0:5]

1    스타벅스동성로중앙점
2     스타벅스대구법원점
3          스타벅스
5    스타벅스수성범어역점
6     스타벅스대구시지점
dtype: object

In [13]:
df2['브랜드']=df2['상호명'].isin(cfstar)
df2

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드
16270,이디아커피시지점,수성구,고산1동,128.704075,35.839788,대구광역시 수성구 신매동 566-3,False
30554,스타벅스동성로중앙점,중구,삼덕동,128.596677,35.867508,대구광역시 중구 삼덕동1가 17-11,True
31198,스타벅스대구법원점,수성구,범어2동,128.627770,35.864537,대구광역시 수성구 범어동 2237,True
31464,스타벅스,달서구,상인1동,128.533791,35.822791,대구광역시 달서구 상인동 54-3,True
41627,스타벅스,달서구,용산2동,128.520117,35.850711,대구광역시 달서구 용산동 410-9,True
...,...,...,...,...,...,...,...
494386,이디야커피,동구,신암4동,128.628726,35.879098,대구광역시 동구 신암동 294,False
495284,스타벅스,달서구,상인2동,128.541042,35.814872,대구광역시 달서구 상인동 620,True
495807,스타벅스,수성구,범어1동,128.624992,35.857684,대구광역시 수성구 범어동 563-1,True
512351,이디야커피,남구,대명5동,128.586059,35.845171,대구광역시 남구 대명동 160-1,False
517180,스타벅스,중구,성내1동,128.598120,35.870962,대구광역시 중구 문화동 11-1,True

In [14]:
df2['브랜드']=np.where(df2['브랜드']==True,'스타벅스','이디야')
df2

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드
16270,이디아커피시지점,수성구,고산1동,128.704075,35.839788,대구광역시 수성구 신매동 566-3,이디야
30554,스타벅스동성로중앙점,중구,삼덕동,128.596677,35.867508,대구광역시 중구 삼덕동1가 17-11,스타벅스
31198,스타벅스대구법원점,수성구,범어2동,128.627770,35.864537,대구광역시 수성구 범어동 2237,스타벅스
31464,스타벅스,달서구,상인1동,128.533791,35.822791,대구광역시 달서구 상인동 54-3,스타벅스
41627,스타벅스,달서구,용산2동,128.520117,35.850711,대구광역시 달서구 용산동 410-9,스타벅스
...,...,...,...,...,...,...,...
494386,이디야커피,동구,신암4동,128.628726,35.879098,대구광역시 동구 신암동 294,이디야
495284,스타벅스,달서구,상인2동,128.541042,35.814872,대구광역시 달서구 상인동 620,스타벅스
495807,스타벅스,수성구,범어1동,128.624992,35.857684,대구광역시 수성구 범어동 563-1,스타벅스
512351,이디야커피,남구,대명5동,128.586059,35.845171,대구광역시 남구 대명동 160-1,이디야
517180,스타벅스,중구,성내1동,128.598120,35.870962,대구광역시 중구 문화동 11-1,스타벅스

In [15]:
df2=df2.drop_duplicates(['경도', '위도']) # 중복제거
df2

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드
16270,이디아커피시지점,수성구,고산1동,128.704075,35.839788,대구광역시 수성구 신매동 566-3,이디야
30554,스타벅스동성로중앙점,중구,삼덕동,128.596677,35.867508,대구광역시 중구 삼덕동1가 17-11,스타벅스
31198,스타벅스대구법원점,수성구,범어2동,128.627770,35.864537,대구광역시 수성구 범어동 2237,스타벅스
31464,스타벅스,달서구,상인1동,128.533791,35.822791,대구광역시 달서구 상인동 54-3,스타벅스
41627,스타벅스,달서구,용산2동,128.520117,35.850711,대구광역시 달서구 용산동 410-9,스타벅스
...,...,...,...,...,...,...,...
494386,이디야커피,동구,신암4동,128.628726,35.879098,대구광역시 동구 신암동 294,이디야
495284,스타벅스,달서구,상인2동,128.541042,35.814872,대구광역시 달서구 상인동 620,스타벅스
495807,스타벅스,수성구,범어1동,128.624992,35.857684,대구광역시 수성구 범어동 563-1,스타벅스
512351,이디야커피,남구,대명5동,128.586059,35.845171,대구광역시 남구 대명동 160-1,이디야
517180,스타벅스,중구,성내1동,128.598120,35.870962,대구광역시 중구 문화동 11-1,스타벅스

In [16]:
test = df2["지번주소"].values
test.size
# print(np.unique(test).size)
# np.unique(test)

110

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 16270 to 517180
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호명     110 non-null    object
 1   시군구명    110 non-null    object
 2   행정동명    110 non-null    object
 3   경도      110 non-null    float64
 4   위도      110 non-null    float64
 5   지번주소    110 non-null    object
 6   브랜드     110 non-null    object
dtypes: float64(2), object(5)
memory usage: 6.9+ KB

In [18]:
st=df2[df2['브랜드']=='스타벅스']
st.head()
# pd.set_option('display.max_row', 0)
# pd.set_option('display.max_columns', 0)

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드
30554,스타벅스동성로중앙점,중구,삼덕동,128.596677,35.867508,대구광역시 중구 삼덕동1가 17-11,스타벅스
31198,스타벅스대구법원점,수성구,범어2동,128.627770,35.864537,대구광역시 수성구 범어동 2237,스타벅스
31464,스타벅스,달서구,상인1동,128.533791,35.822791,대구광역시 달서구 상인동 54-3,스타벅스
41627,스타벅스,달서구,용산2동,128.520117,35.850711,대구광역시 달서구 용산동 410-9,스타벅스
53418,스타벅스,달성군,다사읍,128.464258,35.859160,대구광역시 달성군 다사읍 매곡리 1546-7,스타벅스

In [19]:
ed=df2[df2['브랜드']=='이디야']
ed.head()

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드
16270,이디아커피시지점,수성구,고산1동,128.704075,35.839788,대구광역시 수성구 신매동 566-3,이디야
67297,이디야커피,북구,칠성동,128.589799,35.885235,대구광역시 북구 칠성동2가 20-1,이디야
70134,이디야커피,달서구,신당동,128.493147,35.855827,대구광역시 달서구 신당동 1721-16,이디야
85299,이디야커피,수성구,범어4동,128.634550,35.852487,대구광역시 수성구 범어동 305-3,이디야
110825,이디야커피,동구,안심3.4동,128.724505,35.867373,대구광역시 동구 신서동 528-2,이디야

In [20]:
# df2.to_excel("coffe찾기.xlsx")

In [21]:
gu=df2.groupby(['시군구명','브랜드']).size()
pd.DataFrame(gu)

            0
시군구명 브랜드
남구   스타벅스   3
     이디야    5
달서구  스타벅스  19
     이디야    6
달성군  스타벅스   4
     이디야    3
동구   스타벅스   7
     이디야    4
북구   스타벅스   6
     이디야    7
서구   스타벅스   3
수성구  스타벅스  20
     이디야    5
중구   스타벅스  13
     이디야    5

In [22]:
dong=df2.groupby(['행정동명','브랜드']).size()
pd.DataFrame(dong)

           0
행정동명 브랜드
감삼동  스타벅스  2
고산1동 스타벅스  1
     이디야   3
공산동  스타벅스  1
내당4동 스타벅스  1
...       ..
태전1동 이디야   2
태전2동 스타벅스  1
평리4동 스타벅스  1
하빈면  스타벅스  2
효목1동 스타벅스  1

[73 rows x 1 columns]

In [23]:
stlist=df2[['위도','경도']][df2['브랜드']=='스타벅스'].values.tolist()
stlist[:5]

[[35.8675078052018, 128.5966770941],
 [35.864537244460294, 128.627769586325],
 [35.82279130566079, 128.533791042123],
 [35.850711377161396, 128.520117204754],
 [35.8591602989892, 128.46425782696699]]

In [24]:
edlist=df2[['위도','경도']][df2['브랜드']=='이디야'].values.tolist()
edlist[:5]

[[35.8397877301189, 128.704075090028],
 [35.8852347042223, 128.589799077132],
 [35.8558274631559, 128.493146693962],
 [35.8524870097051, 128.63454979124901],
 [35.8673727879244, 128.724505432206]]

In [25]:
import math
def dis(lat,lon) :
    Seoul = lat  
    Toronto = lon
    lat1 = Seoul[0]
    lon1 = Seoul[1]
    lat2 = Toronto[0]
    lon2 = Toronto[1]
    #Latitude, Longitude
    
    R = 6371000 # metres
    #위도(latitude), 경도(longitude)

    rad_lat1 = lat1 * math.pi*(1/180) # latitude, longitude in radians (angle to radians)
    rad_lat2 = lat2 * math.pi*(1/180)
    dis_lat = (lat2-lat1) * math.pi*(1/180)
    dis_lon = (lon2-lon1) * math.pi*(1/180)

    a = math.sin(dis_lat/2) * math.sin(dis_lat/2) + math.cos(rad_lat1) * math.cos(rad_lat2) * math.sin(dis_lon/2) * math.sin(dis_lon/2) #a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2)

    b= 1-a
    c = 2 * (math.atan2( math.sqrt(a), math.sqrt(b)))

    d = R * c #in metres
    
    return d

In [26]:
dislist=[]
for i in stlist :
    for j in edlist :
        dislist.append(dis(i,j))
np.min(dislist)

35.76535725302908

In [27]:
pip install haversine

Requirement already satisfied: haversine in c:\users\w\anaconda3\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
from haversine import haversine
dislist=[]
num=0
for i in stlist :
    for j in edlist :
        dislist.append([num,haversine(i,j)*1000])
        num+=1
pd.DataFrame(dislist)[1].min()

35.76540665464168

In [29]:
dislist[0:5]

[[0, 10158.213880833548],
 [1, 2066.263322037318],
 [2, 9419.739487183213],
 [3, 3799.7872546479266],
 [4, 11518.580002048488]]

In [30]:
dislist=sorted(dislist,key = lambda x : x[1])
dislist2=[]
for i in dislist :
    if i[1] < 200 :
        dislist2.append(i)
dislist2

[[1268, 35.76540665464168],
 [562, 59.94351931136832],
 [1092, 118.08672542869073],
 [1407, 122.1430157040182],
 [92, 124.86972816079258],
 [2273, 135.99483752007],
 [1337, 161.89327555080885],
 [2196, 192.83862492197645],
 [217, 194.82790177167274],
 [620, 197.602853852881]]

In [31]:
stdisindex=int(dislist2[0][0]/len(edlist))
print(pd.DataFrame(st.iloc[stdisindex]).T)
edisindex=dislist2[0][0]%len(edlist)
print(pd.DataFrame(ed.iloc[edisindex]).T)

         상호명 시군구명  행정동명       경도       위도                지번주소   브랜드
342542  스타벅스   북구  침산2동  128.592  35.8875  대구광역시 북구 침산동 245-1  스타벅스
          상호명 시군구명  행정동명       경도       위도                 지번주소  브랜드
315086  이디야커피   북구  침산2동  128.592  35.8878  대구광역시 북구 침산동 265-28  이디야

In [32]:
ed['그룹']=-1
ed['거리(m)']=0
ed.head()

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드,그룹,거리(m)
16270,이디아커피시지점,수성구,고산1동,128.704075,35.839788,대구광역시 수성구 신매동 566-3,이디야,-1,0
67297,이디야커피,북구,칠성동,128.589799,35.885235,대구광역시 북구 칠성동2가 20-1,이디야,-1,0
70134,이디야커피,달서구,신당동,128.493147,35.855827,대구광역시 달서구 신당동 1721-16,이디야,-1,0
85299,이디야커피,수성구,범어4동,128.634550,35.852487,대구광역시 수성구 범어동 305-3,이디야,-1,0
110825,이디야커피,동구,안심3.4동,128.724505,35.867373,대구광역시 동구 신서동 528-2,이디야,-1,0

In [33]:
st['그룹']=-1
st['거리(m)']=0
st.head()

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드,그룹,거리(m)
30554,스타벅스동성로중앙점,중구,삼덕동,128.596677,35.867508,대구광역시 중구 삼덕동1가 17-11,스타벅스,-1,0
31198,스타벅스대구법원점,수성구,범어2동,128.627770,35.864537,대구광역시 수성구 범어동 2237,스타벅스,-1,0
31464,스타벅스,달서구,상인1동,128.533791,35.822791,대구광역시 달서구 상인동 54-3,스타벅스,-1,0
41627,스타벅스,달서구,용산2동,128.520117,35.850711,대구광역시 달서구 용산동 410-9,스타벅스,-1,0
53418,스타벅스,달성군,다사읍,128.464258,35.859160,대구광역시 달성군 다사읍 매곡리 1546-7,스타벅스,-1,0

In [34]:
columns=ed.columns
result=pd.DataFrame(columns=columns)
result

Empty DataFrame
Columns: [상호명, 시군구명, 행정동명, 경도, 위도, 지번주소, 브랜드, 그룹, 거리(m)]
Index: []

In [35]:
for i in range(len(dislist2)) :
    stdisindex=int(dislist2[i][0]/len(edlist))
    st_T=pd.DataFrame(st.iloc[stdisindex]).T

    edisindex=dislist2[i][0]%len(edlist)
    ed_T=pd.DataFrame(ed.iloc[edisindex]).T

    result_g=pd.concat([st_T, ed_T], ignore_index=True)
    result_g['그룹']=i
    result_g['거리(m)']=round(dislist2[i][1],1)
    
    result=pd.concat([result,result_g],ignore_index=True)
result

,상호명,시군구명,행정동명,경도,위도,지번주소,브랜드,그룹,거리(m)
0,스타벅스,북구,침산2동,128.592,35.8875,대구광역시 북구 침산동 245-1,스타벅스,0,35.8
1,이디야커피,북구,침산2동,128.592,35.8878,대구광역시 북구 침산동 265-28,이디야,0,35.8
2,스타벅스,달서구,신당동,128.494,35.8559,대구광역시 달서구 신당동 1721-12,스타벅스,1,59.9
3,이디야커피,달서구,신당동,128.493,35.8558,대구광역시 달서구 신당동 1721-16,이디야,1,59.9
4,스타벅스대구반월당점,중구,성내2동,128.592,35.8663,대구광역시 중구 덕산동 53-3,스타벅스,2,118.1
5,이디아까페,중구,성내2동,128.592,35.8674,대구광역시 중구 남성로 92,이디야,2,118.1
6,스타벅스대구중앙로점,중구,성내2동,128.593,35.8673,대구광역시 중구 동성로3가 35-13,스타벅스,3,122.1
7,이디아까페,중구,성내2동,128.592,35.8674,대구광역시 중구 남성로 92,이디야,3,122.1
8,스타벅스,달서구,상인1동,128.534,35.8228,대구광역시 달서구 상인동 54-3,스타벅스,4,124.9
9,이디야커피,달서구,상인1동,128.532,35.8227,대구광역시 달서구 상인동 1595-7,이디야,4,124.9
10,스타벅스신세계백화점대구점,동구,신천4동,128.629,35.878,대구광역시 동구 신천동 1506,스타벅스,5,136.0
11,이디야커피,동구,신암4동,128.629,35.8791,대구광역시 동구 신암동 294,이디야,5,136.0
12,스타벅스,중구,성내1동,128.594,35.8675,대구광역시 중구 동성로3가 32-1,스타벅스,6,161.9
13,이디아까페,중구,성내2동,128.592,35.8674,대구광역시 중구 남성로 92,이디야,6,161.9
14,스타벅스대구테크노폴리스점,달성군,유가면,128.459,35.6932,대구광역시 달성군 유가면 봉리 607-1,스타벅스,7,192.8
15,이디야커피,달성군,유가면,128.461,35.6933,대구광역시 달성군 유가면 봉리 615,이디야,7,192.8
16,스타벅스,중구,성내1동,128.594,35.8673,대구광역시 중구 동성로3가 91-16,스타벅스,8,194.8
17,이디아까페,중구,성내2동,128.592,35.8674,대구광역시 중구 남성로 92,이디야,8,194.8
18,스타벅스,달서구,이곡1동,128.51,35.8551,대구광역시 달서구 이곡동 1248-1,스타벅스,9,197.6
19,이디야커피,달서구,이곡1동,128.512,35.8543,대구광역시 달서구 이곡동 1250-14,이디야,9,197.6

In [36]:
# 지도 시각화를 위한 라이브러리
import folium

In [37]:
lat_m = result["위도"].mean()
lng_m= result["경도"].mean()
lat_m, lng_m

(35.84616860699997, 128.55895958766888)

In [44]:
m = folium.Map([lat_m, lng_m], zoom_start=12) #, tiles="Stamen Toner")

for i in result.index:
    sub_lat = result.loc[i, "위도"]
    sub_lng = result.loc[i, "경도"]
    
    title = f"{result.loc[i, '상호명']} - {result.loc[i, '지번주소']}"
    
    color = "green"
    if result.loc[i, "브랜드"] == "이디야":
        color = "blue"
    
    folium.CircleMarker([sub_lat, sub_lng],
                        radius=3,
                        color=color,
                          tooltip=title).add_to(m)

In [60]:
#지도가 한글 깨짐 : 임시적인 해결방법
m.save('starbuck_ediya.html')
m