## 변수 = 저장할 값

In [13]:
x=100
print(x)

100

In [8]:
x= 100
y= 200
print(x,y)

100 200

In [7]:
x=100
y=200
sum= x+y
print(sum)

300

In [9]:
name = "홍길동"
adress = '대구광역시 심안동 300'
print(name)
print(adress)

홍길동
대구광역시 심안동 300

In [10]:
a=7
b=5
print(a+b)
print("a+b")

12
a+b

In [11]:

x=7; y=6
print(x+y)
x='7'; y='6'
print(x+y)

13
76

## 변수

의미 있는 이름을 사용  
소문자와 대문자는 서로다른게 취급된다.

In [19]:
sum = 1

In [20]:
_count = 1

In [21]:
base_2nd = 3

1) aBC 2) ab! 3) aB1 4) 1ab  
5) _ab 6) AB_c  7) 1_ 8) 에이비

## 예약어 확인

In [25]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 변수 명명법  
my new car  
=> my_new_car =>my_new_car : 헝가리안표기법  
=> mynewcar => myNewCar : 카멜식(낙타식)표기법

## 변수의 타입  
print(타입)

In [29]:
print(type(20))

<class 'int'>

In [27]:
print(type(179.5))

<class 'float'>

In [28]:
st = '키는 height'
print(type(st))

<class 'str'>

## 자료형
- 정수형 : 양수, 정수  
- 실수형 : 소수점이 포함된 실수형  
- 문자형 : 따옴표에 들어가 있는 문자형  
- 불린형 : 참/ 거짓

## 사칙연산

In [32]:
# 주석은 (샵 : #) 기호 사용 단축키는 ctrl +'/'
print('25+30 : ',25+30) # 덧셈(+)
print('30*12 : ',30*12) # 곱셈(*)
print('30/5: ', 30/5) # 나누셈(/)
print('7%5 : ',7%5) # 나머지(%)
print('7//5 : ',7//5) # 몫연산자(//)
#print() 에서 , 로 구분되면 한칸 띄운다

25+30 :  55
30*12 :  360
30/5:  6.0
7%5 :  2
7//5 :  1

# 제곱 연산자

In [33]:
print('3^5 : ',3*3*3*3*3)
print('3^5 : ',3**5)

3^5 :  243
3^5 :  243

## 루트 2를 **연산자를 사용해서 구해보자

In [35]:
print('sqrt(2) : ',2**0.5)

sqrt(2) :  1.4142135623730951

In [36]:
num1= 3.1**4.2
print(num1)

115.80281433592612

In [37]:
num2 = 2*5**2
print(num2)

50

In [38]:
a =1
a=a+1
print(a)
a+=1
print(a)
a=a+2
print(a)
a+=2
print(a)

2
3
5
7

In [39]:
a =10
a=a-1
print(a)
a-=1
print(a)
a=a-2
print(a)
a-=2
print(a)

9
8
6
4

In [40]:
print("정수를 입력하세요")
x=int(input()) #input() 은 입력을 문자로 받음
print("입력한 정수는",x,"입니다")

정수를 입력하세요
입력한 정수는 3 입니다

In [44]:
x=int(input(print("정수를 입력하세요"))) #input() 은 입력을 문자로 받음
print("입력한 정수는",x,"입니다")

정수를 입력하세요
입력한 정수는 3 입니다

In [49]:
# 주석 처리
# 한줄 주석 #
# 여러줄 주석 -> 일단 생략

In [50]:
number = 2
print("number :",number)
number *= 5
print("number :",number)
number -= 4
print("number :",number)
number //= 2
print("number :",number)
number %= 2
print("number :",number)

number : 2
number : 10
number : 6
number : 3
number : 1

## String 자료형

In [52]:
tom = "Boy"
bob = "i am a boy"
print(tom)
print(bob)

Boy
i am a boy

In [63]:
a = '문장'
b = "문장"
c = '''여러줄
문장'''
d = """여러줄
문장"""
print(a)
print(b)
print(c)
print(d)

문장
문장
여러줄
문장
여러줄
문장

In [58]:
print('"영수는 훌륭해" 선생님이 말씀하셨다')

"영수는 훌륭해" 선생님이 말씀하셨다

In [59]:
print("He's friend is my brother")

He's friend is my brother

## string 형 - 문자열 병합

In [64]:
str0 = "문자(열) "+"문자열(열) "+"문자(열) "+"문자(열) "
print(str0)

문자(열) 문자열(열) 문자(열) 문자(열)

In [67]:
start = '='*15
title = 'Python Program'
finish = '='*15
print(start+title+finish)
print(start,title,finish)

===============Python Program===============
=============== Python Program ===============

In [68]:
str1 = "Hello, "
str2 = "Python"
stars = '***'
print(stars*5+str1+str2+stars*5)

***************Hello, Python***************

## len(string) : string의 길이를 출력(가운데 공백 포함)

In [70]:
str1 = "Hello Python"
print("Length of", str1, ":", len(str1))

Length of Hello Python : 12

In [74]:
str1 = 'mountain'
print("Length of", str1, ":", len(str1))
for n in range(len(str1)):
    print('str1[',n,'] =',str1[n])

Length of mountain : 8
str[ 0 ] = m
str[ 1 ] = o
str[ 2 ] = u
str[ 3 ] = n
str[ 4 ] = t
str[ 5 ] = a
str[ 6 ] = i
str[ 7 ] = n

In [75]:
str2 = 'mountain'
print("Length of", str2, ":", len(str2))
count = 0
for ch in str2 :
    print('str2[',count,'] =',ch)
    count+=1

Length of mountain : 8
str[ 0 ] = m
str[ 1 ] = o
str[ 2 ] = u
str[ 3 ] = n
str[ 4 ] = t
str[ 5 ] = a
str[ 6 ] = i
str[ 7 ] = n

In [79]:
tom = 'tom is a good student'
print("새로 합성할 단어 : mood")
print(tom[2]+tom[10]+tom[11]+tom[12])
print(tom[2]+tom[1]+tom[1]+tom[-4])

새로 합성할 단어 : mood
mood
mood

In [82]:
greeting = 'Hello Python!'
eeting = 'Hello Python!'
greeting[0] = 'j'   # 한글자만 바꾸는것은 불가능하다 오류남
                    # (변경불가)
print(greeting)

TypeError: 'str' object does not support item assignment

slice : string의 일부를 취할 수 있음  
Hello "Hello"\[1:4\] => "ell"

In [83]:
print("Hello"[1:4])

ell

In [85]:
str2 = 'Hello'
print("Length of'"+str2+"' :", len(str2))
for n in range(len(str2)):
    print(str2+'[',n,'] =',str2[n])

Length of'Hello' : 5
Hello[ 0 ] = H
Hello[ 1 ] = e
Hello[ 2 ] = l
Hello[ 3 ] = l
Hello[ 4 ] = o

\[:n\] 처음부터 n-1까지  
\[m:\] m번째 부터 string의 끝까지  
\[m: 문자열의 길이보다 큰값\] m번째부터 끝까지

In [87]:
string1 = "red apple"
string2 = "yellow banana"
print(string2[:6]+string1[3:])

yellow apple

## 자료 형 변환

In [90]:
# 정수 <-> 실수 변환
a = int(10.90)
b = int(10.3)
print(a, b, a+b)

10 10 20

In [91]:
a = 10
b = float(a)
print(a, b, a+b)

10 10.0 20.0

In [92]:
a = 10
b = 3
print(a/b)

3.3333333333333335

In [98]:
# 문자형 => 숫자형간의 변환
a = '76.3'
b = float(a)
print(a, b)
#print(a+b) #문자+숫자는 자료형이 불일치 오류발생

76.3 76.3

In [1]:
# 숫자형 => 문자형 변환
a = b = 76.3
a = str(a)
b = str(b)
print(a+b)

76.376.3

In [2]:
a = int(10.3)
b = float(10.3)
c = str(10.3)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## 문제:
## 키를 입력하시오 : 180  
## 당신의 키는 180.0cm 입니다.
## (180.0과 cm는 붙어있고 , 결과는 소수점 1자리까지 표시한다)

In [9]:
height = float(input("키를 입력하시오 : "))
print("당신의 키는 %.1fcm 입니다."%(height))
print("당신의 키는 {0:.1f}cm 입니다.".format(height))

당신의 키는 444.0cm 입니다.
당신의 키는 444.0cm 입니다.

## 문제:
## 키를 입력하시오 : 180  
## 당신의 키는 180.0cm 입니다.
## (180과 cm는 붙어있고 , 결과는 소수점아래를 버린다)

In [29]:
height = float(input("키를 입력하시오 : "))
print("당신의 키는 %dcm 입니다."%(height))
print("당신의 키는 {}cm 입니다.".format(int(height)))

당신의 키는 180cm 입니다.
당신의 키는 180cm 입니다.

In [30]:
print("%d %d %d"%(1,2,3))
print("{}{}{}".format("a","b","c"))

1 2 3
abc

In [53]:
print("I eat %d apples"%(30))
print("I eat %s apples"%(30))

I eat 30 apples
I eat 30 apples

In [32]:
print("I love %s" %("meet"))
print("My thing is %dcm" %(180))
print("I get %c grade" %("A"))
print("%x마일 남았어" %(20)) # 16진수
print("%e키로만 더 찌워야지" %(12345678)) # 지수승으로 표시
print("%f키로만 더 빼야지" %(0.005)) # 소수점 표시 (기본6자리)

I love meet
My thing is 180cm
I get A grade
14마일 남았어
1.234568e+07키로만 더 찌워야지
0.005000키로만 더 빼야지

In [33]:
print ("제품 : %s, 개당가격 : %f$." %("Apple",10) )

제품 : Apple, 개당가격 : 10.000000$.

In [34]:
print("I'm {0} years old.".format(20))

I'm 20 years old.

In [35]:
print("제품 : {0}, 가격: {1:.2f}$.".format("Apple", 5.243))

제품 : Apple, 가격: 5.24$.

In [36]:
test = 'Hello {}'.format('Bob')
print(test)

Hello Bob

In [54]:
print("%-10.2f"%5.94343) #좌측정렬
print("%10.3f"%5.94343)  #우측정렬
print("%10.2f"%5.94343)

5.94
     5.943
      5.94

In [39]:
print("{0:<10s}".format("Apple")) #좌측정렬
print("{0:>10s}".format("Apple")) #우측정렬

Apple
     Apple

In [44]:
cafeaa=2000; cafert=3000; cafepu=3500
aa=int(input(print("아메리카노 판매 갯수를 입력하세요 : ")))
rt=int(input(print("카페라떼 판매 갯수를 입력하세요 : ")))
pu=int(input(print("카푸치노 판매 갯수를 입력하세요 : ")))
print("총 매출은 {}원 입니다.".format(cafeaa*aa+cafert*rt+cafepu*pu))

아메리카노 판매 갯수를 입력하세요 :
카페라떼 판매 갯수를 입력하세요 :
카푸치노 판매 갯수를 입력하세요 :
총 매출은 185000원 입니다.

In [46]:
F=int(input(print("화씨 온도를 입력하세요 : ")))
C=(F-32)*(5/9)
print("섭씨 온도는 : {}".format(C))

화씨 온도를 입력하세요 :
섭씨 온도는 : 37.77777777777778

In [51]:
money=int(input(print("투입한돈 : ")))
price=int(input(print("물건 값 : ")))
re = money - price
print("거스름 돈 : {}".format(re))
re2=(re%500)/100
re=re//500
print("500원 동전의 개수 : {}".format(re))
print("100원 동전의 개수 : {}".format(round(re2)))

투입한돈 :
물건 값 :
거스름 돈 : 2400
500원 동전의 개수 : 4
100원 동전의 개수 : 4